<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product-create-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet"> -->
    <title>Rayuela</title>
</head>
<body>
    <div class="bg">
    <section class="form-register">
        
        <form action="/productos/alta-productos" method="POST">
        <h4>Alta de Productos</h4>

        <label for="id"></label>
        <input class="controls" type="number" name="id" id="id" placeholder="Ingrese id de producto">

        <label for="nombre"></label>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese nombre de producto">

        <label for="descripcion"></label>
        <input class="controls" type="text" name="descripcion" id="descripcion" placeholder="Ingrese descripción">

        <label for="precio"></label>
        <input class="controls" type="text" name="precio" id="precio" placeholder="Ingrese el precio">
     
        <label for="cuotas"></label>
        <input class="controls" type="text" name="cuotas" id="cuotas" placeholder="Ingrese condiciones cuotas">
 
        <label for="categoria"></label>
        <input class="controls" type="text" name="categoria" id="categoria" placeholder="Ingrese categoría">

        <label for="edad"></label>
        <input class="controls" type="text" name="edad" id="edad" placeholder="Ingrese edad recomendada">

        <label for="imagen-producto"></label>
        <input type="file" enctype="multipart/form-data" name="imagen-producto" id="imagen-producto">

        <input class="botons" type="submit" value="Guardar">

        </form>

    </section>  

    </div>
</body>
</html>