
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

/* font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Coming Soon', cursive;
    font-weight: 400;
    font-size: 14px;
}

.top-header h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #7D7D7D;
}

.top-header i {
    margin: 10px;
    color: #7D7D7D
}

.banner img {
    width: 100vw;
    height: 100px;
    display: flex;
    object-fit: cover;
    object-position: 0px 70%;
    position: relative;
}  

.topbar {
    display: flex;
}

#menu {
    background-color: rgb(189,212,213);
}

.burger-menu  {
    align-self: center;
}

.burger-menu a {
    color: rgb(109, 108, 108);
    text-decoration: none;
    margin: 10px;
}

.burger-menu i {
    color: rgb(151,151,151);
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    transition: all 700ms;
}

#logo {
    display: block;
    width: 19%;
    border-radius: 50%;
    text-align: center;
    color: #d6e7df;
    object-fit: contain;
    margin: 10px 10px;
    transition: 900ms;
}

#logo:hover {
    transform: scale(0.7);
}

.my-account a i{
    color: rgb(151,151,151);
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    transition: all 700ms;
}
.cart a i {
    color: rgb(151,151,151);
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    transition: all 700ms;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-left: 20px;
}

.search-bar i {
    color: #5D5B6A;
    display: block;
    font-size: 0.8rem;
    align-self: center;
    margin: 3px;  
}

.search-bar input {
    border-bottom: 2px solid green;
    border-radius: 5px;
    display: flex;
    align-self: center;
    border: none;
    background-color: #32AFA9;
    width: 90%;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    border: none;
    border-radius: 5px;
    margin: 3px;
    background-color: rgb(151,151,151);
    align-self: center;
}


#links {
    display:none;   
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.top-header {
    background-color:#C2DED1;
    font-size: 15px;
    height: 60px;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

#rosa {
    background-color: rgb(248, 238, 237); 
}
#verde-agua {
    background-color: rgb(124,205,173);
} 
#azul {
    background-color: rgb(55,175,180);
}
#amarillo {
    background-color: rgb(225,171,2);
}

.texto {
    width: 80vw;
    padding: 15px;
    border:  solid black 5px;
    box-sizing: content-box;
}

ul  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin: right;  
}

.lista-nav li i {
    transition: all 900ms;
    margin-right: 15px;
}

.lista-nav li i:hover {
    /*color: rgb(45, 185, 138);*/
    color: #32AFA9;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#C2DED1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
header {
    background-color:#C2DED1;
}